* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --hue: 40;
  --hue2: 10;
  --bg: hsl(var(--hue), 10%, 100%);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 55%);
  --red: hsl(var(--hue2), 90%, 55%);
  --trans-dur: 0.3s;
  font-size: calc(13px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}
body,
button,
input {
  font: 1em/1.5 "DM Sans", sans-serif;
}
body {
  background-color: var(--bg);
  color: var(--fg);
  /* height: 100vh; */
  transition: background-color var(--trans-dur), color var(--trans-dur);
}
button {
  -webkit-appearance: none;
  appearance: none;
}
.nav {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 13em;
  transition: background-color var(--trans-dur),
    width var(--trans-dur) ease-in-out;
}
.nav__main {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2.5em 1.75em;
  width: inherit;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: 8px;
  scrollbar-color: transparent transparent;
}
.nav__main::-webkit-scrollbar {
  width: 8px;
}
.nav__main::-webkit-scrollbar-track {
  background: transparent;
}
.nav__main::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}
.nav__main:hover {
  scrollbar-color: hsla(0, 0%, 0%, 0.2) transparent;
}
.nav__main:hover::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 0%, 0.2);
}
.nav__bottom {
  background-color: inherit;
  box-shadow: 0 1px 0 hsl(var(--hue), 10%, 80%) inset;
  padding: 1em 1.75em;
  transition: box-shadow var(--trans-dur);
}
.nav__heading {
  color: hsl(var(--hue), 10%, 45%);
  display: block;
  font-size: 0.75em;
  line-height: 1;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  transition: color var(--trans-dur);
}
.nav__heading-text {
  display: inline-block;
  transform: translateX(1em);
  transition: transform var(--trans-dur) ease-in-out;
}

.nav__items__home {
  list-style: none;
  margin: 0 0 1.5em 0;
}

.nav__items {
  list-style: none;
  margin: 0 0 2.5em 0;
}

.nav__items:last-child {
  margin-bottom: 0;
}
.nav__item-box {
  background-color: hsla(var(--hue), 90%, 55%, 0);
  border-radius: 0.75em;
  color: hsl(var(--hue), 20%, 55%);
  display: flex;
  align-items: center;
  padding: 0.75em;
  text-align: left;
  text-decoration: none;
  transition: background-color var(--trans-dur) ease-in-out,
    color var(--trans-dur), width var(--trans-dur) ease-in-out;
  width: 10.5em;
  min-width: 3em;
}

.nav__item-box-mobile {
  background-color: hsla(var(--hue), 90%, 55%, 0);
  border-radius: 10em;
  color: hsl(var(--hue), 20%, 55%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  text-decoration: none;
  transition: background-color var(--trans-dur) ease-in-out,
    color var(--trans-dur), width var(--trans-dur) ease-in-out;
  padding: 1em;
  width: 4.5em;
  min-width: 3em;
}
.nav__item-box-mobile.active {
  background-color: var(
    --primary
  ); /* Change to the desired active background color */
  color: var(--bg); /* Change to the desired active text color */
}

.nav__item-box:focus,
.nav__item-box:hover,
.nav__item-box-mobile:focus,
.nav__item-box-mobile:hover {
  background-color: hsla(var(--hue), 90%, 55%, 0.1);
  color: var(--primary);
}

.nav__item-box:focus,
.nav__item-box-mobile:focus {
  outline: transparent;
}

.nav__item-icon,
.nav__item-icon svg {
  display: block;
  width: 1.5em;
  height: 1.5em;
}
.nav__item-icon {
  flex-shrink: 0;
  position: relative;
  text-align: center;
  transition: transform var(--trans-dur) ease-in-out;
}
.nav__item-icon--badge:before {
  background-color: var(--primary);
  border-radius: 50%;
  box-shadow: 0 0 0 0.1em hsl(0, 0%, 100%);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0.5em;
  height: 0.5em;
  transform: scale(0);
  transition: box-shadow var(--trans-dur),
    transform var(--trans-dur) ease-in-out;
}
.nav__item-text {
  margin-left: 0.75em;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  transition: opacity var(--trans-dur) ease-in-out,
    width var(--trans-dur) ease-in-out;
}
.nav__item-badge {
  background-color: hsla(var(--hue), 90%, 55%, 0.1);
  border-radius: 0.75rem;
  color: var(--primary);
  font-size: 0.75em;
  line-height: 1;
  margin-left: 0.75rem;
  padding: 0.125rem 0.5rem;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}
.nav__item-box--red .nav__item-badge {
  background-color: hsla(var(--hue2), 90%, 55%, 0.1);
  color: var(--red);
}
.nav__item-box--red .nav__item-icon--badge:before {
  background-color: var(--red);
}

.nav__item-box.active {
  background-color: var(
    --primary
  ); /* Change to the desired active background color */
  color: var(--bg); /* Change to the desired active text color */
}

.nav__logo {
  background-color: var(--primary);
  border-radius: 0.75em;
  color: hsl(0, 0%, 100%);
  display: flex;
  margin-bottom: 2.5em;
  width: 3em;
  height: 3em;
  transform: translateX(0.75em);
  transition: background-color var(--trans-dur), color var(--trans-dur),
    transform var(--trans-dur) ease-in-out;
}
.nav__logo svg {
  display: block;
  margin: auto;
  width: 2em;
  height: 2em;
}
.nav[data-expanded="false"] {
  width: 6.5em;
}
.nav[data-expanded="false"] .nav__heading-text {
  transform: translateX(calc(2em - 50%));
}
.nav[data-expanded="false"] .nav__item-box {
  width: 3em;
}
.nav[data-expanded="false"] .nav__item-icon--badge:before {
  transform: scale(1);
}
.nav[data-expanded="false"] .nav__item-text {
  opacity: 0;
  width: 0;
}
.nav[data-expanded="false"] .nav__logo {
  transform: translateX(0);
}
.nav[data-expanded="false"] [data-expand] .nav__item-icon {
  transform: rotate(180deg);
}

/* 좋아요 버튼 효과 */

.particle-container {
	position: relative;
}

.shape {
	--size: 8px;
	position: absolute;
	top: calc(50% - var(--size));
	left: calc(50% - var(--size));
	width: calc(var(--size) * 2);
	height: calc(var(--size) * 2);
	animation: popup var(--d) cubic-bezier(.08, .56, .53, .98) forwards;
}

.square {
	border-radius: 4px;
	background-color: var(--c);
}

.circle {
	border-radius: 50%;
	background-color: var(--c);
}

.triangle {
	width: 0px;
	height: 0px;
	background-color: none;
	border-top: var(--size) solid transparent;
	border-bottom: calc(var(--size) * 2) solid var(--c);
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
}

.heart {
	--size: 6px;
	background-color: var(--c);
}

.heart::before,
.heart::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--c);
	border-radius: 50%;
}

.heart::before {
	left: -50%;
}

.heart::after {
	top: -50%;
}

@keyframes popup {
	0% {
		opacity: 0;
	}

	60% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate(var(--x), var(--y)) rotate(var(--r));
	}
}

.greeting-section {
	position: relative;
	overflow: hidden;
}

.greeting-section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 10px,
		#FFD700 10px,
		#FFD700 20px
	);
	opacity: 0.8;
}
